{% load static %}
{% load bootstrap3 %}
<html>
    <head>
        <title>Kan Bankası</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    </head>
    <body align="center">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header" style="margin-top: 15px;" href=""> KAN BANKASI
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li>
                        <a class="page-scroll" href="">Ana Sayfa </a>
                    </li>
                    <li>
                        <a class="page-scroll" href="">Hakkımızda</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="">Duyurular</a>
                    </li>
                    <li >
                         <a class="page-scroll" href="{% url 'logout' %}">Çıkış Yap</a>
                    </li>
                    {% else %}
                    <li>
                        <a class="page-scroll" href="">Ana Sayfa </a>
                    </li>
                    <li>
                        <a class="page-scroll" href="">Hakkımızda</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="">Duyurular</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'login' %}">Giriş Yap</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'signup' %}">Kayıt Ol</a>
                    </li>
                    

                    {% endif %} 
                </ul>
            </div>
        </div>
    </nav>
        <div class="content container">
            <div class="row">
                <div class="col-md-24">
                  {% block content %}
                  {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>