{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% block content %}
  <div class="jumbotron" align="center">
    <div class="container" align="center">
      <img src="{% static "2.jpg" %}" alt="" style="height: 350px; width: 600px; display: block; margin:10px;">

      <h2 style="color:Tomato;">KAN BANKASI HAKKINDA</h2>
      <p>
        Bir avuç kan ile neler yapılabileceğinin farkında mısınız?

        Acil Kan Bul; kan bağışında bulunmak isteyen kişilerin veya acil kan ihtiyacı olan kişilerin isteklerini karşılamak üzere hazırlanmış ÜCRETSİZ bir bağış platformudur.

        Uygulama tarafından veya uygulama sahibi gönüllüler tarafından şahsınıza ait (kan grubu hariç) bilgiler kesinlikle üçüncü şahıslar ile paylaşılmaz.

        Uygulama size ait lokasyon bilgilerini bazı durumlarda kayıt altına alabilir. Lokasyon bilgilerini kayıt altına almamızdaki neden, kan bağışında bulunan kişi veya kişileri, kan ihtiyacı olan kişi veya kişilere mümkün olan en kısa zamanda ulaştırmaktır.
      </p>
      <h2 style="color:Tomato;">KAN BAĞIŞININ ÖNEMİ</h2>
       <p>
         Tüm dünya için kan bağışı oldukça önemlidir.İnsanların ihtiyaç duyudğu kan bulunmadığı takdirde ölümler olabilmektedir.Kimin ne zaman kana ihtiyacı olacağı bilinmemektedir.Heran herkesin başına gelebilecek küçük bir kazayla kan kaybı yaşanabilir ve kan ihtiyacı doğabilir.
         Kan bağışı belirli süre zarflarında yapılıp kullanılmalıdır.Çünkü bir süre sonra bağışlanan kan kullanılamamaktadır.Ülkemizde de kan bağışı sayısı oldukça azdır.
    </div>
    <a href="{% url 'signup' %}">
    <img src="{% static "kan_veri_bankasi_kalkan.png" %}" height="250px" width="500px"></a>
  </div>
{% endblock %}
