{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% block content %}
  <div class="jumbotron" align="center">
    <div class="container" align="center">
      <img src="{% static "2.jpg" %}" alt="" style="height: 350px; width: 600px; display: block; margin:10px;">

      <h2 style="color:Tomato;">NEDEN BU PROJEYİ GERÇEKLEŞTİRDİK?</h2>
      <p>
        Yaptığımız projenin insan hayatına faydası dokunmalı düşüncesi ile yola çıktık. Bir çok insan kendisi yada sevdikleri için kan bağışı bekliyor.Bizde bu uygulamada kan bağışcıların ve kan bağışı bekleyenleri bir araya getirmek için bu platformu gerçekleştirdik.
      </p>
      <h2 style="color:Tomato;">KAN BAĞIŞININ ÖNEMİ</h2>
       <p>
         Tüm dünya için kan bağışı oldukça önemlidir.İnsanların ihtiyaç duyudğu kan bulunmadığı takdirde ölümler olabilmektedir.Kimin ne zaman kana ihtiyacı olacağı bilinmemektedir.Heran herkesin başına gelebilecek küçük bir kazayla kan kaybı yaşanabilir ve kan ihtiyacı doğabilir.
         Kan bağışı belirli süre zarflarında yapılıp kullanılmalıdır.Çünkü bir süre sonra bağışlanan kan kullanılamamaktadır.Ülkemizde de kan bağışı sayısı oldukça azdır.
    </div>
    <img src="{% static "kan_veri_bankasi_kalkan.png" %}" height="250px" width="500px">
  </div>
{% endblock %}
