{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% block content %}
  <div class="jumbotron" align="center">
    <div class="container" align="center">
      <div class = "col-md-8">
      <img src="{% static "2.jpg" %}" alt="" style="height: 350px; width: 600; display: block; margin:10px;">
      </div>
      <div class="col-md-4"">
              <h2 style="color:Tomato; padding-left: 50px; margin-top: 100px;" align="left">KAN</h2>
              <h2 style="color:Tomato; padding-left: 50px; margin-top: 10px;" align="left">BANKASI</h2>
              <h2 style="color:Tomato; padding-left: 50px; margin-top: 10px;" align="left">HAKKINDA</h2> 
      </div>
      <div class="col-md-12">
      <p>
        <b style="color:#666"><i>Bir avuç kan ile neler yapılabileceğinin farkında mısınız?</i></b>
      </p>
      <p align="left" style="color:#666">
        KAN BANKASI; kan bağışında bulunmak isteyen kişilerin veya acil kan ihtiyacı olan kişilerin isteklerini karşılamak üzere hazırlanmış ÜCRETSİZ bir bağış platformudur.
        Uygulama tarafından veya uygulama sahibi gönüllüler tarafından şahsınıza ait (kan grubu hariç) bilgiler kesinlikle üçüncü şahıslar ile paylaşılmaz.
        Uygulama size ait lokasyon bilgilerini bazı durumlarda kayıt altına alabilir. Lokasyon bilgilerini kayıt altına almamızdaki neden, kan bağışında bulunan kişi veya kişileri, kan ihtiyacı olan kişi veya kişilere mümkün olan en kısa zamanda ulaştırmaktır.
      </p>
      </div>
      <div class="col-md-12">
        <h2 style="color:Tomato;">KİMLER KAN BAĞIŞINDA BULUNABİLİR ?</h2>
         <p align="left" style="color:#666">18 ve 65 yaş arası olan sağlıklı bulaşıcı hastalığı veya riski olmayan 50 kg üzerinde kişiler kan bağışında bulunabilir. Ancak bağışçıların sağlık kontrolünün yapılması ve temel bir muayeneden geçirilmesinin sonrasında kimlerin kan verebileceği tespit edilir. Yılda üç kez kan bağışı yapılabilir. Erkekler 3 ayda bir, Kadınlar ise 4 ayda bir kan bağışında bulunabilir. Sağlıklı kişilerin yılda en az 2 kez bağışı yapmasıyla ülke ihtiyacı karşılanabilmektedir. Ancak düzenli olarak kan bağışlayan kişi sayısı çok az olduğundan ülkemizde kan ihtiyacı karşılanamamaktadır.</p>
        <p align="left" style="color:#666">Kanamalı bir hasta ya da büyük bir ameliyatta 6-8 ünite kana ve 4-5 ünite taze donmuş plazmaya ihtiyaç duyulabiliyor. Problemli hamilelik dönemi geçiren veya kanamalı hamile bir kadının yaşamını devam ettirebilmesi için kan ve kan ürünlerine gereksinim duyar. Hayat boyu kan ve kan ürünlerini alma zorunluluğu olan hemofili ve talesemi hastaları bizlerin kan bağışlarını bekliyor. Yeni doğan ve kanın değişmesi için çok taze kana ihtiyacı olan bebekler bizlerin kan bağışlarını bekliyor. Ağır böbrek hastalarının yaşamlarını sürdürebilmeleri için kana ihtiyaçları var. Kan yapılamayan tek ilaçtır. Bir gün siz de kana gereksinim duyabilirsiniz. Bağışladığımız her kan ile ücretsiz olarak kan grubu tespit edilerek, hepatit B, hepatit C, frengi ve AIDS testleri de yapılmaktadır. </p>
      </div>
      </div>
    <a href="{% url 'signup' %}">
    <img src="{% static "kan_veri_bankasi_kalkan.png" %}" height="250px" width="500px"></a>
  </div>
{% endblock %}