{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% block content %}
  <div class="jumbotron" align="center">
    <div class="container" align="center">
      <img src="{% static "2.jpg" %}" alt="" style="height: 350px; width: 600px; display: block; margin:10px;">

      <h2 style="color:Tomato;">KAN BANKASI HAKKINDA</h2>
      <p>
        <b style="color:#666">Bir avuç kan ile neler yapılabileceğinin farkında mısınız?</b>
      </p>
      <p align="left" style="color:#666">
        KAN BANKASI; kan bağışında bulunmak isteyen kişilerin veya acil kan ihtiyacı olan kişilerin isteklerini karşılamak üzere hazırlanmış ÜCRETSİZ bir bağış platformudur.

        Uygulama tarafından veya uygulama sahibi gönüllüler tarafından şahsınıza ait (kan grubu hariç) bilgiler kesinlikle üçüncü şahıslar ile paylaşılmaz.

        Uygulama size ait lokasyon bilgilerini bazı durumlarda kayıt altına alabilir. Lokasyon bilgilerini kayıt altına almamızdaki neden, kan bağışında bulunan kişi veya kişileri, kan ihtiyacı olan kişi veya kişilere mümkün olan en kısa zamanda ulaştırmaktır.
      </p>
      <h2 style="color:Tomato;">KİMLER KAN BAĞIŞINDA BULUNABİLİR ?</h2>
       <p align="left" style="color:#666">18 - 65 yaş arasında,ağırlığı 50 kg üzrinde önemli bir sağlık sorunu olmayan kan merkezine kan vermek için gelindiğinde yapılan muayenede sağlığı uygun olduğu tespit edilen
                ve hemoglabin ölçümü normal olan herkes en sık 2 ay aralıkla kan bağışında bulunabilir. </p>
    </div>
{% endblock %}
