{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% block content %}
<center>
<div class="container">
		<div class="slide">
		<div class="container">
			<div class="row">
				<div id="carousel-example-generic" class="carousel slide box-shadow" data-ride="carousel">
					<div class="carousel-inner">
						<div class="item active">
							<div class="col-md-8">
								<img src="{% static "1.jpg" %}" alt="Kan Bankası" >
							</div>
							<div class="col-md-4">
								<h1 style="color:Tomato;">KİMLER KAN BAĞIŞINDA BULUNABİLİR?</h1>
								<p> 18 - 65 yaş arasında,ağırlığı 50 kg üzrinde önemli bir sağlık sorunu olmayan kan merkezine kan vermek için gelindiğinde yapılan muayenede sağlığı uygun olduğu tespit edilen
								ve hemoglabin ölçümü normal olan herkes en sık 2 ay aralıkla kan bağışında bulunabilir. </p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
